<div class="jumbotron text-center">
	<h1>Home Page</h1>
	
	<button ng-click="loadAjax()">Load</button>
	<input type="text" ng-model="name" />
	{{name}}
	<p>{{ message }}</p>

	<div>
		<img ng-show="loading" src="images/ajax-loader.gif">
		<table class="table table-condensed">
		  <thead>
			<th ng-click="order('id')">Id</th>
			<th ng-click="order('name')">Name</th>
			<th ng-click="order('full_name')">Full name</th>
		  </thead>
		  <tbody ng-repeat="obj in listObj | orderBy:predicate:reverse">
			<tr>
				<td>{{obj.id}}</td>
				<td>{{obj.name}}</td>
				<td>{{obj.full_name}}</td>
			</tr>
		  </tbody>
		</table>
	</div>
	
</div>