<div class="jumbotron text-center">
	<h1>Home Page</h1>
	
	
	
    <!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Click to toggle modal
      <br />
      <small>(using an object)</small>
    </button>
	
	<button class="btn btn-success" ng-click="loadAjax()">load</button>
	
	<input type="text" ng-model="search.$" />
	{{name}}
	<p>{{ message }}</p>
	<div>
		<img ng-show="loading" src="images/ajax-loader.gif">
		<table class="table table-bordered">
		  <thead>
			<th>
				<a class="a-header-table" href="" ng-click="order('id')">Id</a>
				<input type="text" class="form-control txt-search-header" ng-model="search.id" />
			</th>
			<th>
				<a class="a-header-table" href="" ng-click="order('name')">Name</a>
				<input type="text" class="form-control txt-search-header" ng-model="search.name" />				
			</th>
			<th>
				<a class="a-header-table" href="" ng-click="order('full_name')">Full name</a>
				<input type="text" class="form-control txt-search-header" ng-model="search.full_name" />
			</th>
		  </thead>
		  <tbody ng-repeat="obj in listObj | filter:search:name">
			<tr>
				<td>{{obj.id}}</td>
				<td>{{obj.name}}</td>
				<td>{{obj.full_name}}</td>
			</tr>
		  </tbody>
		</table>
	</div>
	
</div>